<div id="feedback-window"></div>
<script type="text/x-kendo-template" id="template-window-feedback">
    <div class="k-content">
        <div class="app-section">
            <form id="feedbackForm">
                <ul class="fieldlist">
                    <li>
                        <label for="feedback-ui-name" class="required">姓名:</label>
                        <input id="feedback-ui-name" name="姓名" placeholder="姓名" type="text" class="k-textbox" required validationMessage="请输入您的 {0}" />
                    </li>
                    <li>
                        <label for="feedback-ui-qq" class="required">QQ号:</label>
                        <input id="feedback-ui-qq" name="QQ号" placeholder="XXXXXXXX" type="text" class="k-textbox"
                               required validationMessage="请输入您的 {0}"/>
                    </li> 
                    <li>
                        <textarea id="feedback-ui-message" name="您的反馈信息" rows="4"
                                  placeholder="反馈信息"
                                  class="k-textbox" ></textarea>
                    </li>                                        
                </ul>
            </form>
        </div>

        <div class="k-footer">
            <button class="k-button k-primary">发送，等候来自QQ：1420836008 的回复...</button>
        </div>
    </div>
</script>