<div id="apply-window"></div>
<script type="text/x-kendo-template" id="template-window-apply">
    <div class="k-content">
        <div class="app-section">
            <form id="applyForm">
                <ul class="fieldlist">
                    <li>
                        <label for="apply-ui-name" class="required">姓名:</label>
                        <input id="apply-ui-name" name="姓名" placeholder="姓名" type="text" class="k-textbox" required validationMessage="请输入您的 {0}" />
                    </li>
                    <li>
                        <label for="apply-ui-gender" class="required">性别:</label>
                        <input id="apply-ui-gender" name="性别" />
                    </li> 
                    <li>
                        <label for="apply-ui-qq" class="required">QQ号:</label>
                        <input id="apply-ui-qq" name="QQ号" placeholder="XXXXXXXX" type="text" class="k-textbox"
                               required validationMessage="请输入您的 {0}"/>
                    </li>                  
                </ul>
            </form>
        </div>

        <div class="k-footer">
            <button class="k-button k-primary">发送申请，等候来自QQ：1420836008 的消息...</button>
        </div>
    </div>
</script>