.fieldlist {
  margin: 0 0 -1em;
  padding: 0;
}
.fieldlist li {
  list-style: none;
  padding-bottom: 1em;
  line-height: 3em;
}
#apply-window .k-footer {
  padding: 8px;
  text-align: center;
}
#feedback-window textarea {
  width: 100%;
}
#feedback-window .k-footer {
  padding: 8px;
  text-align: center;
}
#surface-cocoa-container {
  cursor: pointer;
}

.k-window{
  font-size: 10px;
}
